:root {
    --red: #ff3a3adb;
    --yellow: #FFDD67;
    --yellow-border: #ebeb3c;
    font-family: archivo;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--red);
    display: grid;
    align-content: space-around;
    justify-items: center;
}

header {
    display: grid;
    justify-items: center;
}
header > h1,
header > .score {
    border-radius: 25px;
    background: white;
    text-align: center;
    align-content: center;
}
header > h1 {
    font-size: 36px;
    width: 450px;
    height: 60px;
}
header > .score {
    font-size: 20px;
    width: 100px;
    height: 40px;
}

main {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.player-section,
.computer-section {
    padding: 15px;
    display: grid;
    justify-items: center;
}
main > section > button,
main > section >.choice-section > button {
    margin: 15px;
    width: 130px;
    height: 100px;
    background: white;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    border: none;
}

.choice-section {
    display: flex;
}
.choice-section > .choice {
    border: solid var(--yellow-border);
}
img {
    width: auto;
    height: 50px;
}

.alert-section {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.562);
    display: grid;
    align-items: center;
    justify-items: center;
    visibility: hidden;
}
.alert-section > section {
    width: 200px;
    height: 120px;
    padding: 15px;
    background-color: white;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    display: grid;
    justify-items: center;
    align-items: center;
}
.alert-section > section > button {
    grid-row: 2;
    width: 100px;
    height: 50px;
    border: none;
    background: var(--yellow);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}